@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@300;500&family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.pc {
  display: block !important;
}

.mob {
  display: none !important;
}

@media (max-width: 800px) {
  .pc {
    display: none !important;
  }
  .mob {
    display: block !important;
  }
}

section {
  width: 100%;
  overflow: hidden;
}

section .fp-overflow {
  width: 100%;
}

section .fp-overflow > div {
  max-width: 1600px;
}

section .theme1 {
  background-image: url(../img/theme1_bg.jpg);
}

section .theme2 {
  background-image: url(../img/theme2_bg.jpg);
}

section .theme3 {
  background-image: url(../img/theme3_bg.jpg);
}

section .theme4 {
  background-image: url(../img/theme4_bg.jpg);
}

section .theme5 {
  background-image: url(../img/theme5_bg.jpg);
}

section .theme6 {
  background-image: url(../img/theme6_bg.jpg);
}

section .theme7 {
  background-image: url(../img/theme7_bg.jpg);
}

@media (max-width: 960px) {
  section .theme1 {
    background-image: url(../img/theme1_bg_mob.jpg);
  }
  section .theme2 {
    background-image: url(../img/theme2_bg_mob.jpg);
  }
  section .theme3 {
    background-image: url(../img/theme3_bg_mob.jpg);
  }
  section .theme4 {
    background-image: url(../img/theme4_bg_mob.jpg);
  }
  section .theme5 {
    background-image: url(../img/theme5_bg_mob.jpg);
  }
  section .theme6 {
    background-image: none;
  }
  section .theme7 {
    background-image: url(../img/theme7_bg_mob.jpg);
  }
}

section .theme {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

section .theme * {
  margin: 0 auto;
}

section .theme .pc {
  display: block;
}

section .theme .mob {
  display: none;
}

@media (max-width: 960px) {
  section .theme .pc {
    display: none;
  }
  section .theme .mob {
    display: block;
  }
}

section .theme .top {
  width: 100%;
  position: absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section .theme .bottom {
  width: 100%;
  position: absolute;
  bottom: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 960px) {
  section .theme .bottom {
    bottom: 40px;
  }
}

section .theme1 .logo {
  width: 220px;
  position: absolute;
  top: 22px;
  right: 28px;
}

@media (max-width: 960px) {
  section .theme1 .logo {
    width: 160px;
    top: 10px;
    right: 10px;
  }
}

section .theme1 .subtitle {
  width: calc(850 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme1 .subtitle {
    width: calc(462 / 720 * 100%);
    margin-top: 20px;
  }
}

section .theme1 .title {
  width: calc(975 / 1920 * 100%);
  margin: 36px auto 80px;
}

@media (max-width: 960px) {
  section .theme1 .title {
    width: calc(367 / 720 * 100%);
    margin: 36px auto;
  }
}

section .theme1 .title img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme1 .decotxt {
  width: calc(1767 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme1 .decotxt {
    width: calc(350 / 720 * 100%);
  }
}

section .theme2 .title, section .theme3 .title {
  width: calc(1280 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme2 .title, section .theme3 .title {
    width: calc(530 / 720 * 100%);
  }
}

section .theme2 .title img, section .theme3 .title img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme2 .subtitle, section .theme3 .subtitle {
  width: calc(674 / 1920 * 100%);
  margin-top: 20px;
}

@media (max-width: 960px) {
  section .theme2 .subtitle, section .theme3 .subtitle {
    width: calc(530 / 720 * 100%);
  }
}

section .theme2 .subtitle img, section .theme3 .subtitle img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

section .theme2 .photo, section .theme3 .photo {
  width: calc(920 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 960px) {
  section .theme2 .photo, section .theme3 .photo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(671 / 720 * 100%);
    margin-top: 40px;
  }
}

section .theme2 .photo .item, section .theme3 .photo .item {
  width: calc((100% - 28px) / 3);
  position: relative;
}

section .theme2 .photo .item img, section .theme3 .photo .item img {
  width: 100%;
  height: 0;
  padding-bottom: 56.6%;
}

section .theme2 .photo .item span, section .theme3 .photo .item span {
  position: absolute;
  right: 6px;
  bottom: 6px;
  color: #fff;
  font-size: 12px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

section .theme2 .info, section .theme3 .info {
  width: calc(800 / 1920 * 100%);
  margin-top: 24px;
}

@media (max-width: 960px) {
  section .theme2 .info, section .theme3 .info {
    width: calc(520 / 720 * 100%);
  }
}

section .theme2 .info img:first-child, section .theme3 .info img:first-child {
  margin-bottom: 5px;
}

section .theme2 .info img, section .theme3 .info img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

section .theme4 .title {
  width: calc(1390 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme4 .title {
    width: calc(456 / 720 * 100%);
  }
}

section .theme4 .title img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme4 .photo {
  width: calc(920 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 960px) {
  section .theme4 .photo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(670 / 720 * 100%);
  }
}

section .theme4 .photo .item {
  width: calc((100% - 28px) / 3);
  position: relative;
}

section .theme4 .photo .item span {
  position: absolute;
  right: 6px;
  bottom: 6px;
  color: #fff;
  font-size: 12px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

section .theme4 .group {
  width: calc(1150 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 960px) {
  section .theme4 .group {
    width: calc(522 / 720 * 100%);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section .theme4 .group .subtitle {
  width: calc(522 / 1150 * 100%);
}

@media (max-width: 960px) {
  section .theme4 .group .subtitle {
    width: 100%;
    margin-bottom: 20px;
  }
}

section .theme4 .group .info {
  width: calc(591 / 1150 * 100%);
}

@media (max-width: 960px) {
  section .theme4 .group .info {
    width: 100%;
  }
}

section .theme4 .group .info img:first-child {
  margin-bottom: 16px;
}

@media (max-width: 960px) {
  section .theme4 .group .info img:first-child {
    display: none;
  }
}

section .theme4 .group .info img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

section .theme5 .box {
  width: 100%;
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 960px) {
  section .theme5 .box {
    bottom: auto;
    top: 8%;
  }
}

section .theme5 .icon {
  width: calc(1178 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

@media (max-width: 960px) {
  section .theme5 .icon {
    width: calc(600 / 720 * 100%);
  }
}

section .theme5 .icon img {
  width: calc((100% - 128px) / 3);
}

@media (max-width: 960px) {
  section .theme5 .icon img {
    width: calc((100% - 32px) / 3);
  }
}

section .theme5 .title {
  width: calc(1167 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme5 .title {
    width: calc(456 / 720 * 100%);
  }
}

section .theme5 .title img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme5 .subtitle {
  width: calc(1164 / 1920 * 100%);
  margin: 28px auto 24px;
}

@media (max-width: 960px) {
  section .theme5 .subtitle {
    width: calc(428 / 720 * 100%);
  }
}

section .theme5 .info {
  width: calc(1160 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme5 .info {
    width: calc(600 / 720 * 100%);
  }
}

section .theme5 .info img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

section .theme6 .fp-overflow {
  width: 100%;
}

section .theme6 .title {
  width: calc(1084 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme6 .title {
    width: calc(440 / 720 * 100%);
  }
}

@media (max-width: 960px) {
  section .theme6 .scrolltips {
    width: calc(343 / 720 * 100%);
    margin-top: 20px;
  }
}

@media (max-width: 960px) {
  section .theme6 .scrolltips .finger {
    width: calc(50 / 343 * 100%);
    margin-top: 20px;
  }
}

section .theme6 .bg {
  width: 100%;
  overflow: hidden;
}

section .theme6 .bg .horizontal-inner {
  width: auto;
  height: 100vh;
  overflow-x: scroll;
}

section .theme6 .bg .box {
  width: auto;
  height: 100vh;
}

section .theme6 .bg .box img {
  width: auto;
  height: 100vh;
}

section .theme7 .logo {
  width: 160px;
  position: absolute;
  top: 26px;
  right: 26px;
}

@media (max-width: 960px) {
  section .theme7 .logo {
    top: 10px;
    right: 10px;
  }
}

section .theme7 .subtitle {
  width: calc(400 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme7 .subtitle {
    width: calc(366 / 720 * 100%);
    margin-top: 20%;
  }
}

section .theme7 .title {
  width: calc(560 / 1920 * 100%);
  margin-top: calc(40 / 1920 * 100%);
  margin-bottom: calc(100 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme7 .title {
    width: calc(523 / 720 * 100%);
  }
}

section .theme7 .info {
  width: calc(780 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme7 .info {
    width: calc(543 / 720 * 100%);
    margin-top: 40%;
  }
}

section .theme7 .info img:first-child {
  margin-bottom: 24px;
}

section .theme7 .mark {
  width: 200px;
  position: absolute;
  bottom: 26px;
  right: 26px;
}

@media (max-width: 960px) {
  section .theme7 .mark {
    width: 140px;
    bottom: 10px;
    right: 10px;
  }
}

.slick-track {
  width: 100% !important;
}

.slick-slide {
  width: 100% !important;
}

.slick-dots {
  bottom: -15px;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 6px;
  opacity: .5;
}

.slick-dots li.slick-active {
  opacity: 1;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 20px;
  padding: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-prev, .slick-prev:hover, .slick-prev:focus {
  width: 32px;
  height: 32px;
  left: 6px;
  background: url(../img/arrow_left.svg) center center no-repeat;
  background-size: contain;
  z-index: 2;
}

.slick-prev:before, .slick-prev:hover:before, .slick-prev:focus:before {
  display: none;
}

.slick-next, .slick-next:hover, .slick-next:focus {
  width: 32px;
  height: 32px;
  right: 6px;
  background: url(../img/arrow_right.svg) center center no-repeat;
  background-size: contain;
  z-index: 2;
}

.slick-next:before, .slick-next:hover:before, .slick-next:focus:before {
  display: none;
}
/*# sourceMappingURL=style.css.map */