@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@300;500&family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.pc {
  display: block !important;
}

.mob {
  display: none !important;
}

@media (max-width: 800px) {
  .pc {
    display: none !important;
  }
  .mob {
    display: block !important;
  }
}

section {
  width: 100%;
  overflow: hidden;
}

section .fp-overflow {
  width: 100%;
}

section .theme1 {
  background-image: url(../img/theme1_bg.jpg);
}

section .theme3 {
  background-image: url(../img/theme3_bg.jpg);
}

section .theme4 {
  background-image: url(../img/theme4_bg.jpg);
}

section .theme5 {
  background-image: url(../img/theme5_bg.jpg);
}

section .theme6 {
  background-image: url(../img/theme6_bg.jpg);
}

section .theme7 {
  background-image: url(../img/theme7_bg.jpg);
}

section .theme8 {
  background-image: url(../img/theme8_bg.jpg);
}

section .theme9 {
  background-image: url(../img/theme9_bg.jpg);
}

section .theme10, section .theme11 {
  background-image: url(../img/theme10_bg.jpg);
}

@media (max-width: 960px) {
  section .theme1 {
    background-image: url(../img/theme1_bg_mob.jpg);
  }
  section .theme3 {
    background-image: url(../img/theme3_bg_mob.jpg);
  }
  section .theme4 {
    background-image: url(../img/theme4_bg_mob.jpg);
  }
  section .theme5 {
    background-image: url(../img/theme5_bg_mob.jpg);
  }
  section .theme6 {
    background-image: url(../img/theme6_bg_mob.jpg);
  }
  section .theme7 {
    background-image: url(../img/theme7_bg_mob.jpg);
  }
  section .theme8 {
    background-image: url(../img/theme8_bg_mob.jpg);
  }
  section .theme9 {
    background-image: none;
  }
  section .theme10, section .theme11 {
    background-image: url(../img/theme10_bg_mob.jpg);
  }
}

section .theme {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 960px) {
  section .theme {
    max-height: auto !important;
  }
}

section .theme * {
  margin: 0 auto;
}

section .theme .pc {
  display: block;
}

section .theme .mob {
  display: none;
}

@media (max-width: 960px) {
  section .theme .pc {
    display: none;
  }
  section .theme .mob {
    display: block;
  }
}

section .theme .top {
  width: 100%;
  position: absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section .theme .bottom {
  width: 100%;
  position: absolute;
  bottom: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 960px) {
  section .theme .bottom {
    bottom: 40px;
  }
}

section .theme1 .bottom {
  bottom: 0%;
}

section .theme1 .mkt {
  width: calc(302 / 1920 * 100%);
  position: absolute;
  top: 22px;
  right: 28px;
}

@media (max-width: 960px) {
  section .theme1 .mkt {
    width: 200px;
    top: 10px;
    right: 10px;
  }
}

section .theme1 .slogan {
  width: calc(80 / 1920 * 100%);
  position: absolute;
  top: 40%;
  left: 32%;
}

@media (max-width: 960px) {
  section .theme1 .slogan {
    width: calc(80 / 720 * 100%);
    top: 25%;
    left: 15%;
  }
}

section .theme1 .slogan img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

section .theme1 .title {
  width: calc(1696 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme1 .title {
    width: calc(590 / 720 * 100%);
  }
}

section .theme1 .title img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(255, 255, 255, 0.5));
          filter: drop-shadow(3px 3px 6px rgba(255, 255, 255, 0.5));
}

section .theme1 .subtitle {
  width: calc(1920 / 1920 * 100%);
  padding: 30px 8%;
  background: #2B0093;
}

@media (max-width: 960px) {
  section .theme1 .subtitle {
    width: calc(660 / 720 * 100%);
    margin-top: calc(40 / 1080 * 100%);
    margin-bottom: calc(80 / 1080 * 100%);
    background: none;
  }
}

section .theme1 .subtitle img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

section .theme1 .logos {
  width: calc(302 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme1 .logos {
    width: calc(312 / 720 * 100%);
    margin-top: 20px;
  }
}

section .theme2 {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 960px) {
  section .theme2 {
    padding: 0;
  }
}

section .theme2 video.frame_30s {
  width: 100% !important;
  overflow: hidden;
  margin-bottom: -5px;
}

section .theme2 ::-webkit-scrollbar {
  display: none;
}

section .theme3 .title {
  width: calc(1280 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme3 .title {
    width: calc(530 / 720 * 100%);
  }
}

section .theme3 .title img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme3 .subtitle {
  width: calc(674 / 1920 * 100%);
  margin-top: 20px;
}

@media (max-width: 960px) {
  section .theme3 .subtitle {
    width: calc(530 / 720 * 100%);
  }
}

section .theme3 .subtitle img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme3 .photo {
  width: calc(960 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 960px) {
  section .theme3 .photo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(670 / 720 * 100%);
    margin-top: calc(40 / 1080 * 100%);
  }
}

section .theme3 .photo .item {
  width: calc((100% - 28px) / 3);
  position: relative;
  margin-right: 14px;
}

@media (max-width: 960px) {
  section .theme3 .photo .item {
    width: 100%;
    margin-right: 0;
  }
}

section .theme3 .photo .item:last-child {
  margin-right: 0;
}

section .theme3 .photo .item img {
  width: 100%;
}

section .theme3 .photo .item img.txt {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.8));
}

section .theme3 .photo .item span {
  position: absolute;
  right: 10px;
  bottom: 6px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

@media (max-width: 960px) {
  section .theme3 .photo .item span {
    right: 16px;
  }
}

section .theme3 .info {
  width: calc(800 / 1920 * 100%);
  margin-top: 24px;
}

@media (max-width: 960px) {
  section .theme3 .info {
    width: calc(520 / 720 * 100%);
    margin-top: calc(24 / 1080 * 100%);
  }
}

section .theme3 .info img:first-child {
  margin-bottom: 5px;
}

section .theme3 .info img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

section .theme4 .title {
  width: calc(1280 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme4 .title {
    width: calc(530 / 720 * 100%);
  }
}

section .theme4 .title img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme4 .photo {
  width: calc(1755 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 960px) {
  section .theme4 .photo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(670 / 720 * 100%);
    margin-top: calc(40 / 1080 * 100%);
  }
}

section .theme4 .photo .item {
  width: calc((100% - 100px) / 6);
  position: relative;
  margin-right: 14px;
}

@media (max-width: 960px) {
  section .theme4 .photo .item {
    width: 100%;
    margin-right: 0;
  }
}

section .theme4 .photo .item:last-child {
  margin-right: 0;
}

section .theme4 .photo .item img {
  width: 100%;
}

section .theme4 .photo .item img.txt {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.8));
}

section .theme4 .photo .item span {
  position: absolute;
  right: 10px;
  bottom: 6px;
  color: #fff;
  font-size: 1em;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

@media (max-width: 960px) {
  section .theme4 .photo .item span {
    right: 16px;
  }
}

section .theme4 .infotitle {
  width: calc(800 / 1920 * 100%);
  margin: 40px auto;
}

@media (max-width: 960px) {
  section .theme4 .infotitle {
    width: calc(502 / 720 * 100%);
    margin-top: calc(40 / 1080 * 100%);
    margin-bottom: calc(40 / 1080 * 100%);
  }
}

section .theme4 .infotitle img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

section .theme4 .infotxt {
  width: calc(1675 / 1920 * 100%);
  margin: 40px auto;
}

@media (max-width: 960px) {
  section .theme4 .infotxt {
    width: calc(508 / 720 * 100%);
  }
}

section .theme5 .title {
  width: calc(1390 / 1920 * 100%);
  margin-top: 48px;
}

@media (max-width: 960px) {
  section .theme5 .title {
    width: calc(456 / 720 * 100%);
    margin-top: 0;
    margin-bottom: calc(28 / 1080 * 100%);
  }
}

section .theme5 .title img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme5 .group {
  width: calc(1150 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  section .theme5 .group {
    width: calc(522 / 720 * 100%);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section .theme5 .group .subtitle {
  width: calc(522 / 1150 * 100%);
}

@media (max-width: 960px) {
  section .theme5 .group .subtitle {
    width: 100%;
    margin-bottom: calc(40 / 1080 * 100%);
  }
}

section .theme5 .group .info {
  width: calc(591 / 1150 * 100%);
}

@media (max-width: 960px) {
  section .theme5 .group .info {
    width: 100%;
  }
}

section .theme5 .group .info img:first-child {
  margin-bottom: 16px;
}

@media (max-width: 960px) {
  section .theme5 .group .info img:first-child {
    display: none;
  }
}

section .theme5 .group .info img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

section .theme6 .mkt {
  width: calc(302 / 1920 * 100%);
  position: absolute;
  top: 26px;
  left: 26px;
}

@media (max-width: 960px) {
  section .theme6 .mkt {
    width: 200px;
    top: 10px;
    left: 10px;
  }
}

section .theme6 .top {
  width: calc(1624 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  section .theme6 .top {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .theme6 .icon {
  width: calc(150 / 1624 * 100%);
  margin: 0 200px 0 0;
}

@media (max-width: 960px) {
  section .theme6 .icon {
    width: calc(115 / 720 * 100%);
    margin-right: calc(-200 / 720 * 100%);
  }
}

section .theme6 .title {
  width: calc(788 / 1624 * 100%);
  margin: 0;
}

@media (max-width: 960px) {
  section .theme6 .title {
    width: calc(596 / 720 * 100%);
  }
}

section .theme6 .title img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme6 .subtitle {
  width: calc(788 / 1624 * 100%);
  margin-left: 40px;
}

@media (max-width: 960px) {
  section .theme6 .subtitle {
    width: calc(596 / 720 * 100%);
    margin-top: calc(20 / 1080 * 100%);
    margin-bottom: calc(80 / 1080 * 100%);
  }
}

section .theme6 .subtitle img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme6 .feature {
  width: calc(1624 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  section .theme6 .feature {
    width: calc(660 / 720 * 100%);
  }
}

section .theme6 .feature img {
  width: calc((100% - 60px) / 4);
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  section .theme6 .feature img {
    width: calc((100% - 20px) / 2);
    margin-bottom: calc(20 / 1080 * 100%);
  }
}

section .theme6 span {
  position: absolute;
  right: 10px;
  bottom: 6px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

@media (max-width: 960px) {
  section .theme6 span {
    right: 16px;
  }
}

section .theme7 .inner {
  width: calc(1755 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  section .theme7 .inner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .theme7 .inner .photo {
  width: calc(1048 / 1755 * 100%);
  margin: 0;
}

@media (max-width: 960px) {
  section .theme7 .inner .photo {
    width: calc(604 / 720 * 100%);
    margin: 0 auto;
  }
}

section .theme7 .inner .photo .item {
  width: 100%;
  position: relative;
}

section .theme7 .inner .photo .item span {
  position: absolute;
  right: 10px;
  bottom: 6px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

@media (max-width: 960px) {
  section .theme7 .inner .photo .item span {
    right: 16px;
  }
}

section .theme7 .inner .content {
  width: calc(610 / 1755 * 100%);
  margin: 0;
}

@media (max-width: 960px) {
  section .theme7 .inner .content {
    width: 100%;
  }
}

section .theme7 .inner .content .icon {
  width: calc(114 / 610 * 100%);
  margin-right: 140px;
}

section .theme7 .inner .content .title {
  width: calc(610 / 610 * 100%);
  margin: 50px 0;
}

@media (max-width: 960px) {
  section .theme7 .inner .content .title {
    width: calc(530 / 720 * 100%);
    margin: auto;
    margin-top: calc(50 / 1080 * 100%);
    margin-bottom: calc(20 / 1080 * 100%);
  }
}

section .theme7 .inner .content .infotxt {
  width: calc(610 / 610 * 100%);
  margin: 0 auto 50px;
}

@media (max-width: 960px) {
  section .theme7 .inner .content .infotxt {
    width: calc(530 / 720 * 100%);
    margin-top: calc(20 / 1080 * 100%);
    margin-bottom: calc(50 / 1080 * 100%);
  }
}

section .theme8 .box {
  width: 100%;
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 960px) {
  section .theme8 .box {
    bottom: auto;
    top: 8%;
  }
}

section .theme8 .icon {
  width: calc(1178 / 1920 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

@media (max-width: 960px) {
  section .theme8 .icon {
    width: calc(600 / 720 * 100%);
  }
}

section .theme8 .icon img {
  width: calc((100% - 128px) / 3);
}

@media (max-width: 960px) {
  section .theme8 .icon img {
    width: calc((100% - 32px) / 3);
  }
}

section .theme8 .title {
  width: calc(1167 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme8 .title {
    width: calc(456 / 720 * 100%);
  }
}

section .theme8 .title img {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

section .theme8 .subtitle {
  width: calc(1164 / 1920 * 100%);
  margin: 28px auto 24px;
}

@media (max-width: 960px) {
  section .theme8 .subtitle {
    width: calc(428 / 720 * 100%);
    margin-top: calc(40 / 1080 * 100%);
    margin-bottom: calc(40 / 1080 * 100%);
  }
}

section .theme8 .info {
  width: calc(1160 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme8 .info {
    width: calc(600 / 720 * 100%);
  }
}

section .theme8 .info img {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

section .theme9 .fp-overflow {
  width: 100%;
  height: auto;
}

section .theme9 .title {
  width: calc(1084 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme9 .title {
    width: calc(440 / 720 * 100%);
  }
}

@media (max-width: 960px) {
  section .theme9 .scrolltips {
    width: calc(343 / 720 * 100%);
    margin-top: 20px;
  }
}

@media (max-width: 960px) {
  section .theme9 .scrolltips .finger {
    width: calc(50 / 343 * 100%);
    margin-top: 20px;
  }
}

section .theme9 .bg {
  width: 100%;
  overflow: hidden;
}

section .theme9 .bg .horizontal-inner {
  width: auto;
  height: 100vh;
  overflow-x: scroll;
}

section .theme9 .bg .box {
  width: auto;
  height: 100vh;
}

section .theme9 .bg .box img {
  width: auto;
  height: 100vh;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}

section .theme10 .mkt {
  width: calc(302 / 1920 * 100%);
  position: absolute;
  top: 26px;
  right: 26px;
}

@media (max-width: 960px) {
  section .theme10 .mkt {
    width: 200px;
    top: 10px;
    right: 10px;
  }
}

section .theme10 .title {
  width: calc(880 / 1920 * 100%);
}

@media (max-width: 960px) {
  section .theme10 .title {
    width: calc(600 / 720 * 100%);
  }
}

section .theme10 .subtitle {
  width: calc(880 / 1920 * 100%);
  margin-top: 30px;
}

@media (max-width: 960px) {
  section .theme10 .subtitle {
    width: calc(600 / 720 * 100%);
    margin-top: calc(80 / 1080 * 100%);
    margin-bottom: calc(40 / 1080 * 100%);
  }
}

section .theme10 .infobtn {
  width: calc(720 / 1920 * 100%);
  margin-top: 40px;
}

@media (max-width: 960px) {
  section .theme10 .infobtn {
    width: calc(540 / 720 * 100%);
    margin-top: calc(80 / 1080 * 100%);
  }
}

@media (max-width: 960px) {
  section .theme10 .logo {
    width: calc(320 / 720 * 100%);
    margin-top: calc(80 / 1080 * 100%);
  }
}

@media (max-width: 960px) {
  section .theme11 {
    height: auto !important;
    min-height: auto !important;
    padding-bottom: 60px;
    background-size: cover;
    padding-top: 60px;
  }
}

section .theme11 h4 {
  font-size: 28px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
}

section .theme11 .form {
  width: 90%;
  max-width: 600px;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  section .theme11 .form {
    width: 96%;
    margin-top: 40px;
  }
}

section .theme11 .form .formbox {
  width: 100%;
  margin: 0;
}

@media (max-width: 960px) {
  section .theme11 .form .formbox {
    width: 100%;
  }
}

section .theme11 .form .formbox .item {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 960px) {
  section .theme11 .form .formbox .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

section .theme11 .form .formbox .item input, section .theme11 .form .formbox .item select, section .theme11 .form .formbox .item textarea {
  width: 100%;
  height: 64px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 2px;
  padding: 0 10px;
  border: 0;
  border: 0;
}

section .theme11 .form .formbox .item input:checked, section .theme11 .form .formbox .item input:focus, section .theme11 .form .formbox .item select:checked, section .theme11 .form .formbox .item select:focus, section .theme11 .form .formbox .item textarea:checked, section .theme11 .form .formbox .item textarea:focus {
  outline: 0;
  border: 0;
}

section .theme11 .form .formbox .item ::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 160%;
  color: #231815;
  font-weight: 400;
}

section .theme11 .form .formbox .item :-ms-input-placeholder {
  font-size: 18px;
  line-height: 160%;
  color: #231815;
  font-weight: 400;
}

section .theme11 .form .formbox .item ::-ms-input-placeholder {
  font-size: 18px;
  line-height: 160%;
  color: #231815;
  font-weight: 400;
}

section .theme11 .form .formbox .item ::placeholder {
  font-size: 18px;
  line-height: 160%;
  color: #231815;
  font-weight: 400;
}

section .theme11 .form .formbox .item .checkbox_box {
  width: 100%;
  margin: 0 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 960px) {
  section .theme11 .form .formbox .item .checkbox_box:nth-child(1) {
    margin-right: 10px;
  }
}

section .theme11 .form .formbox .item .checkbox_box h6 {
  width: 100px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 960px) {
  section .theme11 .form .formbox .item .checkbox_box h6 {
    display: inline-block;
  }
}

section .theme11 .form .formbox .item .checkbox_box .checkbox-group {
  width: calc(100% - 100px);
}

section .theme11 .form .formbox .item .checkbox_box .checkbox-group label {
  font-size: 16px;
  margin: 6px 6px 0 0;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1;
  color: #fff;
}

@media (max-width: 1400px) {
  section .theme11 .form .formbox .item .checkbox_box .checkbox-group label {
    font-size: 14px;
  }
}

section .theme11 .form .formbox .item .checkbox_box .checkbox-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background: #fff;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: pointer;
}

@media (max-width: 1400px) {
  section .theme11 .form .formbox .item .checkbox_box .checkbox-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
}

@media (max-width: 960px) {
  section .theme11 .form .formbox .item .checkbox_box .checkbox-group input[type="checkbox"] {
    margin-right: 4px;
  }
}

section .theme11 .form .formbox .item .checkbox_box .checkbox-group input[type="checkbox"]:checked {
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

section .theme11 .form button {
  width: 100%;
  height: 64px;
  display: block;
  padding: 0;
  background: yellow;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 500;
  margin-top: 60px;
}

section .theme11 .form button:hover {
  cursor: pointer;
}

.popup {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup .close {
  width: 60px;
  height: 60px;
  background-color: #72adb6;
  position: absolute;
  right: -30px;
  top: -10px;
  z-index: 10;
  padding: 10px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

@media (max-width: 800px) {
  .popup .close {
    width: 50px;
    height: 50px;
    padding: 5px;
    right: -25px;
    top: 0;
  }
}

@media (max-width: 600px) {
  .popup .close {
    width: 40px;
    height: 40px;
    right: -10px;
    top: 10px;
  }
}

.popup .close:before {
  content: '\e5cd';
  font-family: 'Material Icons';
  color: #fff;
  font-size: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 600px) {
  .popup .close:before {
    font-size: 30px;
  }
}

.popup .close:hover, .popup .close:focus {
  background-color: #3d93ab;
}

.popup .popup_message {
  width: 320px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #fff;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popup.is_acted {
  opacity: 1;
  visibility: visible;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url(../img/arrow_left.svg);
  left: 10px;
  right: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url(../img/arrow_right.svg);
  right: 10px;
  left: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=style.css.map */